body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.game-board {
  float: left;
  padding: 20px 0px;
  /*height: 800px;
  width: 400px;*/
  /*background-color: green;
  opacity: 0;
  transition: opacity 0.6s;*/
}

.is-visible {
  opacity: 1;
}

.img-car {
  width: 20%;
}
