body {
  padding: 0;
  text-align: center;
}

.divLeft {
  width:50%;
  display:block;
  float: left;
}
.divRight {
  width:50%;
  display:block;
  float: right;
}

.main-area{
  display: flex;
  
  flex-direction: row;
}

.game-intro {
  width: 40%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}


canvas {
  outline: 1px solid transparent;
}
