body {
  padding: 0;
  text-align: center;
}
canvas {
  width: 400px;
  height: 500px;
}
#window{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 5%;
}

.game-intro {
  float: left;
  padding: 0% 8%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 1em greenyellow;
}

#game-board {
    float: left;
    padding: 20px 0px;
}
