body {
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 5vh 0px;
    height: 100vh;
    width: 50vw;
    box-sizing: border-box;

}

#myCanvas {
  /* background: #007a10; */
  /* height: 100vh;
  width: 550px; */
  padding-top:30px;
}