body {
  padding: 0;
  text-align: center;
}

.game-intro {
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    /* float: left;	 */
	border-left: 60px solid green;
	border-right: 60px solid green;
	background-color: #808080;
	padding-left: 18px;
	padding-right: 18px;
	margin-top: 50px;
	margin-bottom: 200px;
	width: 880px;
	margin-left: auto;
    margin-right: auto;
}

canvas {
	width: 840px;
	height: 370px;
	border-left: 20px solid #fff;
	border-right: 20px solid #fff;
	display: block;
}



