body {
  padding: 0;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-areas: "instructions canvas";
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  max-width: 50%;
  margin-bottom: 20px;
}

.arrows-img {
  max-width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  cursor: pointer;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
  float: left;
  padding: 20px 0px;
}

#canvas {
  background: #fff;
}