body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: 'Verdana';
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
  float: left;
  padding: 20px 0px;
  position: relative;
}

#lineaverde1{
  width: 100px
  height: 100 vh;
  background:green
}
/*#number {
  width: 70px;
  height: 40px;
  color: white;
  font-family: monospace;
  font-size: 20px;
  position: absolute;
  margin-left: 850px;
  margin-top: 60px;
}*/

canvas {
  position: fixed;
  margin: 30px;
  border: 3px solid #870007;
}
