body {
  font-family: "Verdana";
  padding: 0;
  text-align: center;  
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(91, 11, 15);
  transform: scale(1.06);
  transition: all 0.2s ease;
}

#game-board {
    float: left;
    padding: 20px 0px;
    position: relative;
}

#game-startscreen {
  background-color: rgba(0,0,0,0.6);
  color: white;
  position: absolute;
  height: calc(100% - 43px);
  left: 0;
  right: 0;
  top: 20px;
  bottom: 23px;
}

#game-startscreen .text {
  line-height: 1.5;
  margin: 200px auto;
  width: 250px;
}

#game-startscreen .text strong {
  font-size: 4rem;
  font-style: italic;
  line-height: 1.2;
  text-decoration: underline;
}