body {
  padding: 0;
  text-align: center;
  background-color: #161b22;
  color: #fff;
  transition: 1s all;
}

.playing{
  background-color: #000;
}

canvas {
  border-radius: 10px;
  background-color: #0d1116;
  transition: 1s all;
}

.canvas-playing {
  box-shadow: 0px 0px 50px rgb(83, 83, 83);
}

.game {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.game-intro {
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 300px;
  margin-bottom: 35px;
}

.arrows-img {
  margin-top: 20px;
  width: 150px;
}

body button {
  font-size: 25px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 0.3s;
}

body button:hover {
  background-color: #640005;
  cursor: pointer;
}

#game-board {
    padding: 20px 0px;
}
