body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-family: "Verdana";
  font-size: 18px
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  background-color: #870007;
  border: 0;
  border-radius: 5px;
  box-shadow: 0;
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 20px 40px;
}

#game-board {
  float: left;
  padding: 20px 0px;
}